/* Config File */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    font-size: 1.4rem;
    min-height: 120rem;
}

/* Main */
main {
    margin-top: 5rem;
}

main .card-body .card-text::first-letter {
    text-transform: uppercase;
}

/* Footer */
footer {
    margin-bottom: 5rem;
}

footer h3 {
    color: #fdfcfa;
}